.sidebar {
    /* border: 1px dotted blue; */
    float: left;
    /* position: fixed;
    z-index: 1;
    top: 0;
    left: 0; */
}

/* sidebar for big screens */
@media (min-width: 768px) { 
    .sidebar {
        height: 100vh;
    }

    .nav {
        padding-top: 200px;
        padding-left:50px;
    }

    li {
        padding-bottom: 20px;
    }
 }

